REACT_APP_OPENAI_API_KEY=sk-...your-key-here...

REACT_APP_SUPABASE_URL=https://svwamktlvbieslpfqley.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN2d2Fta3RsdmJpZXNscGZxbGV5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1OTAzNDcsImV4cCI6MjA5MjE2NjM0N30.xjWOfxqsUm8sKq9gAAL_49kWfcPTT1z1YiC3NWtZeas
